body {
    font-family: 'Arial', sans-serif;
    background-color: #af7096;
    color: #333;
    text-align: center;
    padding: 40px;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    color: #91afd6;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #aa98ca;
    color: #ffffff;
    border: none;
    cursor: pointer;
    border-radius: 10px;
}

button:hover {
    background-color: #68425e;
}

.mensaje-desplazante {
    position: fixed;
    bottom: 10px; 
    left: 100%; 
    white-space: nowrap; 
    font-size: 1.5em;
    color: #cbbf8c; 
    animation: desplazamiento 50s linear infinite; 
}

@keyframes desplazamiento {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}
