body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #4b2c20, #ffdd93);
    color: #fff;
    text-align: center;
    padding: 50px;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h3 {
    color: #cfc5c5;
    font-size: 2.5em;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
    margin-bottom: 20px;
}

#mensaje {
    font-size: 2em;
    color: #ecebeb;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
    opacity: 0;
    animation: fadeIn 2s forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
